@{
    ViewBag.Title = "Anasayfa";
}
@section styles
{
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/card.css" rel="stylesheet" />
}
<div class="container" style="margin-top: 25px">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-blue">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-word-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-word-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-orange">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-powerpoint-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-powerpoint-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-pdf">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-pdf-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-pdf-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-green-2">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-excel-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-sound">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-sound-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-sound-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-archive">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-archive-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-archive-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>