@using Galeri.Web.Models
@model IEnumerable<Galeri.Web.Models.Dosya>

@{
    ViewBag.Title = "Anasayfa";
}
@section title{Anasayfa}

@section styles
{
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/card.css" rel="stylesheet" />
    <link href="~/Content/model-box.css" rel="stylesheet" />
    <link href="~/Content/file-edit-form.css" rel="stylesheet" />
}
@{

}

<div class="row">
    <div class="col-md-6">
        <div class="box bg-renk-1 text-center">
            <h3><a href="@Url.Action("Upload", "Home")"><i class="fa fa-download"></i><br /> Dosya Yükle</a></h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box bg-renk-2 text-center">
            <h3><a href="@Url.Action("Galeri", "Home")"><i class="fa fa-image"></i> <br />Galeri Yönetimi</a></h3>
        </div>
    </div>
</div>
