@{
    ViewBag.Title = "Anasayfa";
}
@section styles
{
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/card.css" rel="stylesheet" />
    <link href="~/Content/model-box.css" rel="stylesheet" />
    <link href="~/Content/file-edit-form.css" rel="stylesheet" />
}
<div class="container" style="margin-top: 25px">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-blue">
                    <a href="#fileEditModal" data-toggle="modal">
                        <i class="fa fa-edit pull-right" id="card-edit"></i>
                    </a>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-word-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-word-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-orange">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-powerpoint-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-powerpoint-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-pdf">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-pdf-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-pdf-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-green-2">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-excel-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-sound">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-sound-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-sound-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader bg-archive">
                    <i class="fa fa-edit pull-right" id="card-edit"></i>
                </div>
                <div class="avatar">
                    <i class="fa fa-file-archive-o card-icon" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <div class="title">
                        Tincidunt integer eu augue augue nunc elit dolor
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-hdd-o"></i> 25.7 MB
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-file-archive-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*modal*@

    <div class="modal img-modal" id="fileEditModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 modal-image">
                            <img class="img-responsive " src="~/Files/da76310d7f36f3d58fc4fd0e6c9e7c45.jpg">
                            <img class="img-responsive hidden" src="~/Files/25a15da997d184161a5792a85be6c795.jpg" />
                            <img class="img-responsive hidden" src="~/Files/8d469516f8b656e19913555504a07463.jpg" />
                            <a href="" class="img-modal-btn left"><i class="glyphicon glyphicon-chevron-left"></i></a>
                            <a href="" class="img-modal-btn right"><i class="glyphicon glyphicon-chevron-right"></i></a>
                        </div>
                        <div class="col-md-6 modal-meta">
                            <div class="modal-meta-top">
                                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                                @*Dosya Düzenleme*@
                                <div class="form-area">
                                    <form role="form">
                                        <br style="clear:both">
                                        <div class="form-group">
                                            <label class="control-label"><i class="fa fa-file-text"></i> Orjinal Adı: </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><i class="fa fa-hdd-o"></i> Boyutu: </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><i class="fa fa-file"></i> Dosya Tipi: </label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"> Url: </label>
                                            <input type="text" disabled="disabled" class="form-control has-success" value="http://example.com">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><i class="fa fa-file-text"></i> Başlık: </label>
                                            <input type="text" class="form-control" placeholder="Başlık">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><i class="fa fa-file-text"></i> Açıklama: </label>
                                            <textarea class="form-control" placeholder="Açıklama"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="pull-left">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-download"></i> Dosyayı İndir
                        </button>
                        <button type="button" class="btn btn-warning">
                            <i class="fa fa-eye"></i> Önizle
                        </button>
                    </div>

                    <div class="pull-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            <i class="fa fa-close"></i> Kapat
                        </button>
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-check"></i> Kaydet
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/model-box.js"></script>
}
